<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>SexInfo</title>
</head>
<body>
    <div>
        <div class="bckgrnd">
            
            <div class="image">
                <img src="/images/logoSexInfo.png" width="75" height="75">
            </div>
            
            <div class="title">
                <h1>Bienvenue sur SexInfo</h1>
            </div>
            
            <a href="http://sexneeet.alwaysdata.net/infos"><button  type="button" class="btn btn-square-xl button1">Informations</button></a>
            
            <a href="http://sexneeet.alwaysdata.net/accueiljeu"><button type="button" class="btn btn-square-xl button2">Divertissements</button></a>
            
        </div>
    </div>
</body>
</html>