<!DOCTYPE html>
<html lang="en">
    <%- include('header') %>
<body>
    <div class="container w-25 d-flex justify-content-center p-4 mb-2 text-black">
        <h1>Ajout de médicament</h1>
    </div>
    <hr>

    <div id="saisie" class="container w-50 p-2 md-2">
        <div class="input-group">
            <span class="input-group-text" id="">Nom</span>
            <input type="text" class="form-control" id="nomMedicament" placeholder="">
            <span class="input-group-text" id="">Quantité</span>
            <input type="text" class="form-control" id="qteMedicament" placeholder="">
        </div>
        <br>
    </div>

	
    <br style="clear:both;">
</body>
<%- include('footer') %>
</html>

