<%- include('header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Patient</title>
</head>
<body>
    <div class="container w-25 d-flex justify-content-center p-4 mb-2 text-black">
        <h1>Saisie d'un patient</h1>
    </div>
    <hr>

    <div id="saisie" class="container w-50 p-2 md-2">
        <div class="input-group">
            <span class="input-group-text" id="">Nom</span>
            <input type="text" class="form-control" id="nom" placeholder="">
            <span class="input-group-text" id="">Prénom</span>
            <input type="text" class="form-control" id="prenom" placeholder="">
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-text" id="">Date de naissance</span>
            <input type="text" class="form-control" id="datenaiss" placeholder="">
            <span class="input-group-text" id="">Sexe</span>
            <input type="text" class="form-control" id="sexe" placeholder="">
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-text" id="">Adresse</span>
            <input type="text" class="form-control" id="adresse" placeholder="">
            <span class="input-group-text" id="">Code Postal</span>
            <input type="text" class="form-control" id="cp" placeholder="">
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-text" id="">Ville</span>
            <input type="text" class="form-control" id="ville" placeholder="">
            <span class="input-group-text" id="">Nom du médecin</span>
            <input type="text" class="form-control" id="nomMedecin" placeholder="">
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-text" id="">N° de sécurité sociale</span>
            <input type="text" class="form-control" id="numSecu" placeholder="">
        </div>
        <br><br>

    </div>

</body>
</html>

<%- include('footer') %>