<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PHARMACIE SAUTEUHZ</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-light" style="background-color: #78E08F;">
    <a class="navbar-brand" href="http://localhost:3000/infos">
      <img src="images/iconPharmacie.png" width="30" height="30" class="d-inline-block align-top" alt="">
      PHARMACIE SAUTEUHZ
    </a>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">Menu</h4>
          <button type="button" class="btn btn-success">Déposer une ordonnance</button>
          <button type="button" class="btn btn-success">Ajouter un nouveau patient</button>
          <button type="button" class="btn btn-success">Ajouter un médicament en stock</button>
          <button type="button" class="btn btn-success">Consulter une ordonnance</button>
          <button type="button" class="btn btn-success">Consulter la fiche d'un patient</button>
          <button type="button" class="btn btn-success">Consulter les stocks</button>
          <button type="button" class="btn btn-success">Nous contacter</button>
          
          
        </div>
      </div>
      <nav class="navbar navbar-light" style="background-color: #78E08F;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </nav>
  
  