<%- include('header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container w-25 d-flex justify-content-center p-4 mb-2 text-black">
        <h1>PHARMACIE SAUTEUHZ</h1>
    </div>
    
    <div class="container w-25 d-flex justify-content-center p-4 mb-2 text-white"> 
        <p>Prendre soin de sois en quelques clics !</p>
    </div>
    
    <div class="container w-25 d-flex justify-content-center p-4 mb-2 text-white">
        <p>Votre pharmacie n°1 en ligne.</p>
    </div>
    
    <div class="container w-25 d-flex justify-content-center p-4 mb-2 text-white">
        <p>Le réseau Pharmacie Sauteuhz est là pour vous aider !</p>
    </div>
    
    <img src="Image/logoPharmacie.png" alt="logoPharmacie">
    
    <div class="btn btn-warning btn-lg btn-block">    
        <button type="button" class="btn btn-primary">Déposer une ordonnance</button>
        <button type="button" class="btn btn-primary">Ajouter un nouveau patient</button>
        <button type="button" class="btn btn-primary">Ajouter un médicament en stock</button>
        <button type="button" class="btn btn-primary">Consulter une ordonnance</button>
        <button type="button" class="btn btn-primary">Consulter la fiche d'un patient</button>
        <button type="button" class="btn btn-primary">Consulter les stocks</button>
    </div>
</body>
</html>

<%- include('footer') %>